@import url(styles/header.css);
@import url(styles/menus-laterais.css);
@import url(styles/centro.css);

body {
    margin: 0;
    background-color: #051D3B;
}

.conteudo {
    display: flex;
    align-items: center;
}

@media (min-width: 1440px) {
    .conteudo {
        display: flex;
        justify-content: space-between;
    }
}