@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.editor__codigo {
    display: block;

    background: url(../assets/mac_buttons.svg);
    background-repeat: no-repeat;
    background-position-x: 16px;
    background-position-y: 16px;

    background-color: #141414;
    color: white;
    
    padding: 1rem;
    padding-top: 3.5rem;
    border-color: #6BD1FF;
    border-width: 2rem;
    border-radius: 8px;
    border-style: solid;
    outline: 0;

    margin: 1rem;

    width: 15.438rem;

    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    
    min-block-size: 22.5rem;
    block-size: auto;
    cursor: text;
    
    white-space: pre-wrap;
}

.visualizador__highlight {
    margin: 1rem;
    margin-top: 2rem;

    cursor: pointer;
    background: #5081FB14;
    border-radius: 8px;
    border: none;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;  

    width: 21.438rem;
    height: 3.5rem;

    display: block;
}

.visualizador__highlight:hover {
    background: #5081FB29;
}

.visualizador__highlight:active {
    background: linear-gradient(0deg, rgba(80, 129, 251, 0.24), rgba(80, 129, 251, 0.24)),
    linear-gradient(0deg, rgba(80, 129, 251, 0.16), rgba(80, 129, 251, 0.16));
    
}

.visualizador__highlight:focus {
    background: #5081FB3D;
}

@media (min-width: 768px) {
    .editor__codigo {
        width: 38rem;
        min-block-size: 14.625rem
    }

    .visualizador__highlight {
        width: 44rem;
        height: 3.5rem;
    }
}

@media (min-width: 1440px) {
    .editor__codigo {
        margin: 0;
        width: 41rem;
    }

    .visualizador__highlight {
        margin: 0;
        margin-top: 2rem;
        width: 47rem;
    }
}
