@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.cabecalho {
    display: flex;
    align-items: center;
    margin: 1rem;
    justify-content: space-between;
    position: relative;
}

.logo {
    display: flex;
}

.logo__alura {
    margin: 0.6rem;
}

.itens__menu__hamburguer {
    display: none;
    position: absolute;
    left: 100%;
    background-color: #051D3B;
}

.menu__hamburguer__button:checked ~ .itens__menu__hamburguer {
    display: block;
}

.lista__menu {
    display: none;
    position: absolute;
    right: 1rem;
    top: 5rem;
    background-color: #2D415B;
    border-radius: 8px;
    height: 35.688rem;
}

#menu__mobile {
    display: none;
}

#menu__mobile:checked ~ .lista__menu {
    display: block;
}

.lista__menu__item__links {
    padding-top: 0.5rem;
}

.lista__menu__item {
    padding: 0 1.5rem 0 1.5rem;
}

.lista__menu__item__linha {
    padding: 1.5rem;
}

.usuario__mobile:hover {
    border-radius: 8px;
    background: #FFFFFF14;
}

.barra__de__pesquisa {
    background: rgba(255, 255, 255, 0.16);
    border: none;
    border-radius: 8px;
    padding: 0;
    padding-left: 1rem;
    outline: 0;
    color: white;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    gap: 8px;
    
    display: none;
}

.barra__de__pesquisa:hover {
    background: #FFFFFF3D;
}

.usuario {
    border-radius: 8px;
    margin-left: 3.19925em;
    display: none;
}

.usuario:hover {
    background: #FFFFFF14;
}

.pesquisa__mobile {
    display: flex;
}

@media (min-width: 768px) {
    .barra__de__pesquisa {
        display: flex;
        width: 26.938rem;
        height: 3.5rem;
    }

    .pesquisa__mobile__lupa {
        display: none;
    }

    .lista__menu {
        height: 57rem;
    }
}

@media (min-width: 1440px) {
    .cabecalho {
        margin: 2rem;
    }
    
    .barra__de__pesquisa {
        width: 46em;
        height: 3.5em;
    }

    .pesquisa__mobile {
        display: none;
    }

    .usuario {
        display: flex;
    }
}
