@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.menu__lateral__esquerdo {
    display: none;
    margin-left: 2.6em;
    flex-direction: column;
    width: 11.8125em;
    padding: 1em 0 1em 0;
    margin-right: 4.5875em;
}

.menu {
    width: 3.1875em;
}

.botao {
    margin-top: 1em;
}

.menu__lateral__direito {
    display: none;
    flex-direction: column;
    width: 19em;
}

.seu__projeto {
    width: 8.125em;
}

.menu__lateral__direito__box {
    background: rgba(255, 255, 255, 0.16);
    border: none;
    border-radius: 8px;
    padding-left: 14px;
    outline: 0;
    color: white;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    gap: 8px;
    width: 17em;
    height: 3.5em;
}

.descricao {
    padding-bottom: 1.5em;
}

.menu__lateral__direito__item {
    margin-bottom: 1em;
}

.personalizacao {
    margin-top: 1.5em;
    width: 10.625em;
}

.option {
    color: black;
}

.select {
    width: 18em;
}

.menu__lateral__direito__box__color__picker {
    width: 18em;
    height: 3.5em;
    border: 1px solid #ffffff;
    border-radius: 8px;
    background: transparent;
    padding-left: 2px;
}

.menu__lateral__direito__button {
    width: 18em;
    height: 3.5em;
    cursor: pointer;
    background: rgb(80, 129, 251);
    border-radius: 8px;
    border: none;
    color: #051D3B;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.menu__lateral__direito__button:hover {
    background: rgb(104, 146, 255);
}

@media (min-width: 1440px) {
    .menu__lateral__esquerdo {
        display: flex;
    }
    .menu__lateral__direito {
        display: flex;
    }
}